{% extends "base.html" %}

{% block title %}
<title>Bunker</title>
{% endblock %}

{% block content %}
<a href="{% url 'index' %}"><button>Back to Main Feed!</button></a>
<form action="{% url 'bunker_submit' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <select id="from_user" name="from_user">
        <option  value="" selected="selected">---SELECT---</option>

        {% for user in user_list %}
            {% if request.user == user.auth_user %}
                <option value="{{user.id}}" selected="selected">
                    {{user.username}}
                </option>

            {% comment %} 
            {% else %}
            <option value="{{user.id}}"
                {% if user == current_user %}selected="selected"{% endif %}>
                {{user.username}}
            </option> 
            {% endcomment %}
            {% endif %}
        {% endfor %}
        </select>
        <p> bunks </p>
        <select id="to_user" name="to_user">
            <option  value="" selected="selected">---SELECT---</option>
        {% for user in user_list %}
            {% if request.user != user.auth_user %}
            <option value="{{user.id}}"
                {% if user == current_user %}selected="selected"{% endif %}>
                {{user.username}}
            </option>
            {% endif %}
        {% endfor %}
        </select>
    </fieldset>
    <input class="button" type="submit" value="Bunk">
    </form>
{% endblock %}